@import url("style.css") screen;

body {
    display: grid;
    place-content: center;
    height: 100vh; 

    background-image: url(/img/vista-salpicaduras-agua.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container{
    min-width: 400px;
    min-height: 250px;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}
